@model IEnumerable<WebApplication2.Models.Producer>

@{
    ViewData["Title"] = "Index";
}

<h1>Producers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.companyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateRegistered)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr >
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.companyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateRegistered)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProducerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProducerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProducerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
